*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: rgb(45, 5, 82);
}
#modalbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    text-align: center;
    font-size: 26px;
    padding: 30px 10px;
    background-color: #fff;
    width:40%;
    border-radius: 20px;
    display: none;
}
button{
    border: none;
    outline: none;
    padding:10px 40px;
    width:70%;
    margin:30px;
    margin-bottom: 0px;
    color:white;
    background-color: orangered;
    font-size: 27px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(10, 10, 2,0.4);
    cursor:pointer;
}
.cross{
    width:25px; 
    height: 25px;
    position: absolute;
    top:25px;
    right:20px;
    cursor: pointer;
}